<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lll.online.exam.mapper.ExamPaperAnswerMapper">

    <resultMap type="com.lll.online.exam.entity.ExamPaperAnswer" id="ExamPaperAnswerMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="examPaperId" column="exam_paper_id" jdbcType="INTEGER"/>
        <result property="paperName" column="paper_name" jdbcType="VARCHAR"/>
        <result property="paperType" column="paper_type" jdbcType="INTEGER"/>
        <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
        <result property="systemScore" column="system_score" jdbcType="INTEGER"/>
        <result property="userScore" column="user_score" jdbcType="INTEGER"/>
        <result property="paperScore" column="paper_score" jdbcType="INTEGER"/>
        <result property="questionCorrect" column="question_correct" jdbcType="INTEGER"/>
        <result property="questionCount" column="question_count" jdbcType="INTEGER"/>
        <result property="doTime" column="do_time" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="taskExamId" column="task_exam_id" jdbcType="INTEGER"/>
    </resultMap>


</mapper>